<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tax_Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Tax_Calculator.Properties.Settings>
            <setting name="inputErrorMessage" serializeAs="String">
                <value>Ta</value>
            </setting>
            <setting name="defaultTax" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="totalIncome" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstSlabMale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstSlabFemale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstSlabDisablePeople" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstSlabFF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondSlab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thirdSlab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fourthSlab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fifthSlab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstSlabPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondSlabPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thirdSlabPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fourthSlabPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fifthSlabPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="remainingPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="temp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </Tax_Calculator.Properties.Settings>
    </userSettings>
</configuration>